<h6>Eager Loading Vs Lazy Loading / Singleton Services</h6><br>

<a [routerLink]="['/counter-one/counter-home/counter-home.component']">Counter One Home</a> <br><br>
<a [routerLink]="['/counter-two/counter-home/counter-home.component']">Counter Two Home</a> <br><br>
<!-- <a [routerLink]="['/counter-two-home']">Counter Two Home</a> <br><br> --> 

<!-- <a [routerLink]="['./counter-lazy/counter-home/counter-home.component']">Lazy Counter Home</a> -->

<!-- <a [routerLink]="['/lazy-counter-home']">Lazy Counter Home</a> -->
<a [routerLink]="['/lazy-counter-home']">Lazy Counter Home</a>


